<h1>New division</h1>

<form action="/wizard  divide">
  <label for="zebra">Divide this:</label>
  <input type="text" id="giraffe" name="first_number">

  <label for="second_field">by this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Divide!</button>
</form>
