<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label>Subtract this:</label>
  <input type="text" name="FirstNum">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>
</form>
