<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number">
    Add this:
  </label>
  <input id="form_first_number" name="first_num" text="text">

  <label for="to_second_number">
    to this:
  </label>
  <input id="to_second_number" name="second_num" text="text">

  <button>
    Add!
  </button>
</form>
