<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="firsttt_field">Add</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">to:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>
</form>
