<h1>New multiplication</h1>

<form action="/wizardmultiply">
  <label for="first_field">Multiplication:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="bear">these:</label>
  <input type="text" id="salmon" name="second_number">

  <button>Multiply!</button>
</form>
